<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/dashboard.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
<div class="header">
    <div class="left">
        <!-- menu to -->
        <div class="big"> 
            <div class="container">
            <p class="logo"><b>Admin</b></p>
            <hr>
        <div class="menu">
            <ul>
                <div class="menu2">
                <i class="fa-solid fa-gauge-high"></i>
                <li>Dashboard</li>
            </div>

                <p><b>UI ELEMENTS</b></p>
                <hr>

                <div class="menu2">
                    <i class="fa-solid fa-couch">
                </i><li>Reservations</li></div>
                <div class="menu2">
                    <i class="fa-solid fa-utensils">
                </i><li>Order Food</li></div>
                <div class="menu2">
                     <i class="fa-brands fa-cc-paypal">
                </i><li>Pay Bills</li>
                </div>
               <div class="menu2">
                <i class="fa-solid fa-user"></i>
                <li>Infomation</li>
               </div>
            </ul>
        </div>
        </div>
    </div>
       <!-- menu nhỏ -->
       <div class="small">
        <div class="container">
            <p class="logo"><b>s</b></p>
            <hr>
       <div class="menu">
        <ul>
            <div class="menu2">
            <i class="fa-solid fa-gauge-high"></i>
        </div>

            <div class="menu2">
                <i class="fa-solid fa-couch">
            </i></div>
            <div class="menu2">
                <i class="fa-solid fa-utensils">
            </i></div>
            <div class="menu2">
                 <i class="fa-brands fa-cc-paypal">
            </i>
            </div>
           <div class="menu2">
            <i class="fa-solid fa-user"></i>
           </div>
        </ul>
    </div>
    </div>
</div>

 </div>
 <div class="right">
    <div class="container top">
     <div class="incon-2">
        <i class="fa-solid fa-magnifying-glass"></i>
     <i class="fa-solid fa-bell"></i>
     <i class="fa-regular fa-envelope"></i></div>
     <div class="laguages">
         <div class="laguages__image">
             <img src="https://scontent.fsgn2-10.fna.fbcdn.net/v/t39.30808-6/394742223_1725789787902360_1482002081815725119_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=5f2048&_nc_ohc=M9Ymii59KdEAX9fpLC9&_nc_ht=scontent.fsgn2-10.fna&oh=00_AfCc0VCXYEdxPBzqlt4BjhV3AhOmroGucsADiltQKFHzsg&oe=655BBF35" alt="">
         </div>
    </div>
     </div>
</div>
</div>
<div class="on-up">
    <div class="on"><i class="fa-solid fa-circle-arrow-right"></i></div>
    <div class="up"><i class="fa-solid fa-circle-arrow-left"></i></div>
</div>
<div class="form-register">
  <form action="" class="container">
    <h3>Nguyễn văn phúc</h3>
    <hr>
<ul>
    <li>My Profile</li>
    <li>Notifications</li>
    <li>Setting</li>
    <li class="logup">Login out</li>
</ul>
</form>  
</div>
<script src="../js/selectMenu.js"></script>
<script src="../js/incon-onup.js"></script>
<script src="../js/menuRegister.js"></script>
<script src="https://kit.fontawesome.com/9e5ba2e3f5.js" crossorigin="anonymous"></script>
</body>
</html>